<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">

            <!-- Выйти -->
            <a class="blog-nav-item pull-right" href="#" ng-click="logout()">Выйти</a>
        </nav>
    </div>
</div>

<div class="container">
    <div class="page-content">
        <h4 class="blog-post-title">Lorem ipsum</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda at cum debitis eos excepturi, facilis hic, id minima mollitia obcaecati perferendis, placeat quae quasi quo ratione reprehenderit saepe temporibus.</p>
    </div>
</div>